.bg-light{
    position: relative;
}

h1{
    position: absolute;
    left: 40px;
    top: 30px;
    text-align: center;
}
#div1{
    position: absolute;
    height: 100px;
    width: 20vw;
    left: 20vw;
    top: 100px;
    margin-top: 10px;
}

#h1c{
    color: white;
    text-align: center;
}

#div1In{
   background-color: white;
    left: 8vw;
    width: 3vw;
    height: 40px;
    position: absolute;
    align-content: center;
}

#div2{
    position: absolute;
    height: 100px;
    width: 20vw;
    left: 44.5vw;
    top: 100px;
    margin-top: 10px;
}

#h2c{
    color: white;
    text-align: center;
}

#div2In{
    background-color: white;
    left: 9vw;
    width: 3vw;
    height: 40px;
    position: absolute;
    align-content: center;
}

#div3{
    position: absolute;
    height: 100px;
    width: 20vw;
    left: 69vw;
    top: 100px;
    margin-top: 10px;
}

#h3c{
    color: white;
    text-align: center;
}

#div3In{
    background-color: white;
    left: 8vw;
    width: 3vw;
    height: 40px;
    position: absolute;
    align-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 750px) {

    .bg-light{
        position: relative;
        height: 5vh;
        width: 70vw;
        margin:5px;
        border-radius: 10px
    }

}